{% extends "base.html" %}
{% block body %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="1">&laquo; first</a>
            <a href="/docs/{{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="/docs/{{ page_obj.next_page_number }}">next</a>
            <a href="/docs/{{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% for document in page_obj %}

	<p><a href="/docs/single/{{document.id}}">{{ document.title }}</p>
	<hr/>

{% endfor %}

{% endblock %}